################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/RbacDashboard/obj
/src/RbacDashboard/bin
/src/RbacDashboard.Asserts/bin
/src/RbacDashboard.Asserts/obj
/src/RbacDashboard.BAL/bin
/src/RbacDashboard.BAL/obj
/src/RbacDashboard.Common/bin
/src/RbacDashboard.Common/obj
/src/RbacDashboard.DAL/bin
/src/RbacDashboard.DAL/obj
/src/TestResults
/Test/RbacDashboard.Test/bin
/Test/RbacDashboard.Test/obj
